<!DOCTYPE html>
<html>
{% load static %} 
<title>Net-Liens</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="{%static 'css/homepage.css' %}">-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>

</head>

<body>
	<!--------------------------------------------------------
	Navbar 
	--------------------------------------------------------->
	{% include 'commons/topnavbar.html' %}

	<!--------------------------------------------------------
	Display 5 most categories consulted
	--------------------------------------------------------->
	<div style="margin-left: 1%; margin-right: 1%; margin-top: 60px;">
		<!-- Header -->
		<div class="w3-container w3-card w3-amber w3-text-black">
			<h1 class="w3-hide-small">Les catégories les plus consultées</h1>
			<h1 class="w3-hide-large w3-hide-medium">Catégories les plus vues</h1>
		</div>
		<!-- Display categories -->
		<div class="w3-container w3-card-4 w3-light-grey w3-text-black">
			{% for muchCat in muchCatList %}
			<p>
				<a href="/category/{{ muchCat.cat_name }}" class="w3-container w3-card w3-light-grey w3-text-amber w3-button"
				  style="font-size: 20px">
					{{ muchCat.cat_name }}
				</a>
			</p>
			{% empty %}
			<p>Aucune catégorie la plus vue</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>